
/* contentBox --END */
.contentBox {
    /* shape */
    width: 100%;
    height: fit-content;

    /* position */
    /* child position */
    display: flex;
    flex-direction: column;


    padding-top: 12em;
}
/* contentBox --END */

/* mobile conntent --START */
@media screen and (max-width: 800px) {


    .contentBox {
        /* shape */
        width: 100%;
        height: fit-content;

        /* position */
        /* child position */
        display: flex;
        flex-direction: column;


        padding-top: 5em;
    }


}
/* mobile conntent --END */