/* IMPORTS */
@import url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
@import url(/fonts/Rokkitt/Rokkitt-Italic-VariableFont_wght.ttf);
@import url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);


:root {
    --TextColorLowContrast: hsla(0,0%,50%,1);
    --TitleTextColor: hsla(225,80%,85%,1);
    --btnColor1: hsla(225, 15%, 30%, 1);
    --btnColor1Press: hsla(225, 15%, 10%, 1);
    --btnTextColor1:hsla(225, 50%, 70%, 1);
    --borderStandard: .25rem;
}
/* default properties html, body --START */
html, body {
    /* position */
    position: static;


    /* shape */
    width: 100%;
    height: fit-content;
    
    
    margin: 0;
    padding: 0;
    
    /* style */
    background-color: hsl(0, 0%, 0%);

    
    

}

main {

    /* shape */
    width: 100%;
    height: fit-content;

    /* position */
    /* child position */
    display: flex;
    flex-direction: column;

    /* child alignment */
    align-items: center;


    padding-top: 10em;
    gap: 1em;
}





/* default properties html, body --END  */







/* default properties ul --START */
ul, ol {
    
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 1.5rem;



    gap: 1rem;
}
/* default properties ul --END */

/* default properties text --START */


/* font/s --START*/


/* font face/s */
@font-face {
    font-family: RokkittNormal;
    src: url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: RokkittBold;
    src: url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico/Pacifico-Regular.ttf);
    font-weight: bold;
}



@font-face {
    font-family: DefaultNormal;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 300;
}

@font-face {
    font-family: DefaultBold;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 500;
}
/* font/s --END */

/* default texts --START */
h2, h3, h4, h5, h6, p, a{

    /* style */
    color: var(--TitleTextColor);
    list-style: none;

}

h1 {
    font-family: "Pacifico";
    font-size: 2.5em;
}

h2 {
    font-family: "RokkittBold";
    font-size: 2em;
}


h3 {
    font-size: 2em;
    
}


p   {

    /* shape */
    font-size: 1em;

    font-family: DefaultNormal;
}

.pWeight {
    /* shape */
    font-size: 1.5em;

    font-family: DefaultBold;
}


a {
    /* removes underline */
    text-decoration: none;
    font-family: "DefaultBold";
}

ol li {

    width: inherit;
    
    /* alignment */
    margin: 0;
    
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;

    text-align: left;

    /* style */
    list-style: none;
    /* list-style: -moz-element(none); */

    /* color: aliceblue; */
    background-color: hsl(0, 0%, 20%);
    
    
}
p, li {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
/* ol p {
     transform: translate(0, 0);
}  */


ol a {
    margin: 0;
    padding: 0;
}


/* default texts --END */

/* default button properties --START */

/* button {
    
    border-radius: var(--borderStandard);
    border-style: none;
    background-color: var(--btnColor1);
    color: var(--btnTextColor1);
}
button:active {
    border-radius: var(--borderStandard);
    border-style: none;
    background-color: var(--btnColor1Press);

} */

/* default button properties --END */

footer p {
    color: hsl(0, 0%, 25%);
}
footer a {
    color: hsl(0, 0%, 25%);
}

.lowContrast {
    color: var(--TextColorLowContrast);
}









/* NA WIP --START */

.wip {
    color: grey;
    opacity: .3;
}


/* NA WIP --END */







/* mobile content --START */

@media screen and (max-width: 800px) {



    /* default properties html, body --START */
    html, body {
        /* position */
        position: static;


        /* shape */
        width: 100%;
        height: fit-content;
        
        
        margin: 0;
        padding: 0;
        
        /* style */
        background-color: hsl(0, 0%, 0%);

    
    

}
/* default properties html, body --END */






    
    /* default texts --START */
    h2, h3, h4, h5, h6, p, a{

        /* style */
        color: var(--TitleTextColor);
        list-style: none;

    }

    h1 {
        font-family: "Pacifico";
        font-size: 1.5em;
    }

    h2 {
        font-family: "RokkittBold";
        font-size: 1em;
    }

    
    h3 {
        font-size: 1em;
        
    }

    p   {

        /* shape */
        font-size: 1rem;

        font-family: "RokkittNormal";
    }

    .lowContrast {
        color: var(--TextColorLowContrast);
    }


    a {
        /* removes underline */
        text-decoration: none;
        font-family: "RokkittBold";
    }
    /* default texts --END */







    /* main --START */
    main {
        
        /* shape */
        
        width: 100%;
        height: 100%;

        /* flex properties */
        display: flex;
        
        /* position */
        /* parent position */
        position: relative;

        top: 1em;
        /* child position */
        /* horizontal alignment*/
        align-items: center;
        flex-direction: column;

        gap: 1em;

    }
    /* main --END */



    
    /* NA WIP --START */

    .wip {
        color: grey;
        opacity: .3;
    }


    /* NA WIP --END */
}

/* mobile content --END */



/* default properties text --END */