/* mastHead --START */
.mastHeadPosition {

    /* sticks to page bounds */
    position: sticky;
    position: -webkit-sticky;

    /* positioning vertical */
    transform: translate(0em, 10em);

    
    /* sticks at -10em vertical */
    top: -10em;


    /* z-index to fix asideMenu covering mastHead */
    z-index: +1;
}

.mastHead {
    
    /* shape */
    width: 100%;
    height: 8em;
    
    /* flex properties */
    display: flex;
    flex-direction: row;

    /* child position */
    justify-content: center;
    align-items: center;

    /* parent position */
    position: static;

    /* style */
    background-color: hsl(0, 0%, 0%);   

    z-index: +1;
    

}

.contentBox {
    /* shape */
    width: 100%;
    height: fit-content;

    /* position */
    /* child position */
    display: flex;
    flex-direction: column;


    padding-top: 12em;
}

/* mastHead --END */

/* main --START */
main {
    
    /* shape */
    
    width: 100%;
    height: 100%;

    /* flex properties */
    display: flex;
    
    /* position */
    /* parent position */
    position: relative;

    top: -17em;
    /* child position */
    /* horizontal alignment*/
    align-items: center;
    flex-direction: column;

    gap: 1em;

}
/* main --END */


.textBox {
    /* shape */
    width: 50%;
    
    border-radius: .5em;
    padding: 1em;


    /* flex properties */
    display: flex;
    
    flex-direction: column;

    /* child position */
    text-align: left;

    /* parent position */
    
    /* style */
    background-color: hsl(0, 0%, 20%);
}

/* welcomeCard --START */
.welcomeCard {
    /* shape */
    width: 50%;
    height: fit-content;

    border-radius: .5em;

    padding: 1em;

    
    /* position */
    
    /* flex properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* alignment */
    justify-content: center;
    align-items: center;
    text-align: center;

    
    /* style */
    background-color: hsl(0, 0%, 10%);
    background-image: url(/img/4k\ blur.webp);
    background-size: 100%;
    

    margin: 0em;

    /* box-shadow: 0 50px 80px 0px hsl(0, 0%, 100%, 10%); */

    
}
/* welcomeCard --END */


/* asideMenu --START */
.asideMenu {
    /* shape */
    width: fit-content;
    height: fit-content;
    
    border-radius: .5em;

    /* style */
    background-color: hsl(0, 0%, 10%);



    /* position */
    position: static;
    top: -20em;
    padding-top: 12em;

    /* flex properties */
    display: flex;
    flex-direction: column;
    
    /* alignment */
    justify-content: center;
    align-items: center;


    

    
    
    margin-left: 10%;
    padding: 1em;
    
    

}

.asideMenuButtonGroup {
    /* shape */
    width: fit-content;
    height: fit-content;
    padding: 1em;

    
    
    /* shape check */
    /* background-color: aqua; */
}

.asideMenuButton {
    /* shape */
    width: fit-content;
    height: fit-content;
    padding: .1em;

    /* shape check */
    /* background-color: rgb(255, 106, 106); */
}
/* asideMenu --END */

footer{
    /* shape */
    width: 100%;
    height: 5em;

    background-color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.previewBox {
    width: 50%;
    height: fit-content;
    border-radius: .5em;

    padding: 1em;
    
    
    background-color: hsl(0, 0%, 10%);

}

