.logo {
    width: 20em;
    
    opacity: .1;

    
}

/* img standards --START */
img {
    /* shape */
    min-width: 10em;
    max-width: 20em;
    

    /* style */
    border-radius: .5em;
    
    /* position */
    padding: 0;
    margin: 0;
}
/* img standards --END */

