.logo {
    width: 20em;
    
    opacity: .1;

    
}

img {
    /* shape */
    width: 100%;
    height: auto;

    /* style */
    border-radius: .5em;
}
/* img standards --START */