.logo {
    width: 20em;
    
    opacity: .1;

    
}

/* img standards --START */
img {
    /* shape */
    width: 90%;
    

    /* style */
    border-radius: .5em;
    
    /* position */
    padding: 0;
    margin: 0;
}
/* img standards --END */