
/* image scale in previewBox */
.previewBox img {
    width: 20em;

    border-radius: .5em;

    
}

.previewBox {
    /* shape */
    width: 80%;
    height: fit-content;
    border-radius: .5em;

    /* position children */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    /* alignment */
    justify-content: center;
    align-items: center;

    /* used this alignment, only one that would position img in centre */
    text-align: center;

    padding: 1em;
    
    
    background-color: hsl(0, 0%, 10%);

}

/* section for organizing projects */
.section {
    /* shape */
    width: fit-content;
    height: fit-content;

    border-radius: .5em;

    /* position child */
    margin: 1em;
    padding: 1em;

    background-color: hsl(0, 0%, 15%);
}

.section h3 {

    padding-top: 2em;
    font-family: "DefaultBold";

    border-radius: .5em;


    color: grey;
    background-color: hsl(0, 0%, 20%);

}


/* image flex positioning */
.imagePositioning {
    
    
    /* shape */
    height: fit-content;
    width: 100%;

    

    /* position child */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    

    /* alignment */
    justify-content: center;
    gap: 1em;
    

    /* background-color: aquamarine; */
}



/* mobile content --START */
@media screen and (max-width: 800px) {


    
    .previewBox {
        /* shape */
        width: 80%;
        height: fit-content;
        border-radius: .5em;

        /* position children */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        /* alignment */
        justify-content: center;
        align-items: center;

        /* used this alignment, only one that would position img in centre */
        text-align: center;

        padding: 1em;
        
        
        background-color: hsl(0, 0%, 10%);

}


}

/* mobile content --END */
