/* scrollSection --START */






.scrollArea {
    /* shape */
    width: auto;
    height: fit-content;



    border-radius: .5em;


    background-color: rgb(88, 74, 74);

    /* position child */
    display: flex;
    flex-direction: row;
    
    

    /* alignment */
    justify-content: left;
    gap: 10em;
    padding: 0em;

    

    /* hides button overflow(like a clipping mask) */
    overflow: auto;
}

.scrollArea button {
    width: 50em;
    height: 50em;
    background-color: rgb(74, 104, 94);

    border-style: none;

    border-radius: .5em;

    
}
.scrollArrow {
    font-size: 5em;
}
/* scrollSection --END */


/* mobile content --START */


@media screen and (max-width: 800px) {

    /* scrollSection --START */
    .scrollArea {
        /* shape */
        width: auto;
        height: fit-content;



        border-radius: .5em;


        background-color: rgb(88, 74, 74);

        /* position child */
        display: flex;
        flex-direction: row;
        
        

        /* alignment */
        justify-content: left;
        gap: 3em;
        padding: 0em;
        padding-left: 2em;

        

        /* hides button overflow(like a clipping mask) */
        overflow: auto;
    }


    .scrollArea button {
        width: 20em;
        height: 20em;
        background-color: rgb(74, 104, 94);
    
        border-style: none;
    
        border-radius: .5em;
    
        
    }
    .scrollArrow {
        font-size: 2em;
    }


    /* scrollSection --END */

}
/* mobile content --END */