/* textBox --START */

.textBox {
    /* shape */
    width: 50%;
    
    border-radius: .5em;
    padding: 1em;


    /* flex properties */
    display: flex;
    
    flex-direction: column;

    /* child position */
    text-align: left;

    /* parent position */
    
    /* style */
    background-color: hsl(0, 0%, 20%);
}

/* textBox --END */



/* mobile content --START */


@media screen and (max-width: 800px) {

    /* textBox --START */


    .textBox {
        /* shape */
        width: 80%;
        
        border-radius: .5em;
        padding: 1em;


        /* flex properties */
        display: flex;
        
        flex-direction: column;

        /* child position */
        text-align: left;

        /* parent position */
        
        /* style */
        background-color: hsl(0, 0%, 20%);
    }


    /* textBox --END */

}
/* mobile content --END */