.boxes_ee_setWidth_flex_row {
    /* shape */
    width: inherit;
    height: fit-content;

    /* position child */
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.boxes_ee_setWidth_flex_column {
    /* shape */
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* debug */
    /* background-color: aqua; */
}

.boxes_ee_setWidth_flex_column1 {
    width: 25rem;
    height: 10rem;
    max-height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ee_imgSetWidth {
    /* shape */
    width: 250px;
    /* height: 100px; */
}

.ee_Leftoffset {
    transform: translate(-1rem);
}

ul li p {
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
 
    .boxes_ee_setWidth_flex_row {
        /* shape */
        width: inherit;
        height: fit-content;
    
        /* position child */
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    }
    
    .boxes_ee_setWidth_flex_column {
        /* shape */
        width: 95%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        /* debug */
        /* background-color: aqua; */
    }
    
    .ee_imgSetWidth {
        /* shape */
        width: 200px;
        /* height: 100px; */
    }
    
    .ee_Leftoffset {
        transform: translate(-5%);
    }
    .ee_Leftoffset1 {
        transform: translate(-7%);
    }

    .boxes_ee_setWidth_flex_column1 {
        width: 10rem;
        
        max-height: fit-content;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}