.shade_1 {
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.5);
}

.shade_1Dark {
    box-shadow: 0px 10px 20px 2px hsla(0, 0%, 100%, 1);
}


.shade_2 {
    /* box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.5); */

    transition: .5s;
}

.shade_2:hover {
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.5);
}


.shadeHover_1{
    
}
.shadeHover_1:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.shadeHover_1Dark:hover {
    box-shadow: 0px 0px 10px 2px hsl(0, 0%, 100%);
}

.shade_overflowTop {
    
    clip-path:  inset(0px -100px -100px -100px);
    
}

