/* color classes bright_MODE --START */
/* --   --  --  --  --  --  -- */
.baseCol_1_bg {

    /* color */
    background-color: hsl(180, 5%, 75%);
    
}

.baseCol_2_bg {
    /* color */
    background-color: hsl(180, 5%, 65%);

}

.secoCol_1_bg {

    /* color */
    background-color: hsl(200, 10%, 75%);

}

.secoCol_2_bg {

    /* color */
    background-color: hsl(200, 10%, 45%);

}

.keysCol_1_bg {

    /* color */
    /* background-color: hsl(228, 71%, 53%); */
    background-color: hsl(200, 40%, 70%);

}

.baseCol_1 {

    /* color */
    color: hsl(0, 0%, 5%);

}

.secoCol_1 {

    color: hsl(228, 10%, 25%);

}

.secoCol_2 {

    color: hsl(228, 10%, 45%);

}

.keysCol_1 {
    /* color */
    color: hsl(20, 100%, 60%);
    /* text-shadow: 0px 3px 10px rgb(255, 255, 255); */

}
/* --   --  --  --  --  --  -- */
/* color classes bright_MODE --END */



/* color classes dark_MODE --START */
/* --   --  --  --  --  --  -- */
.baseCol_1_bgDark {

    /* color */
    background-color: hsl(180, 5%, 75%);
    
}

.baseCol_2_bgDark {
    /* color */
    background-color: hsl(180, 5%, 65%);

}

.secoCol_1_bgDark {

    /* color */
    background-color: hsl(200, 10%, 75%);

}

.keysCol_1_bgDark {

    /* color */
    /* background-color: hsl(228, 71%, 53%); */
    background-color: hsl(200, 40%, 70%);

}

.baseCol_1Dark {

    /* color */
    color: hsl(0, 0%, 5%);

}

.secoCol_1Dark {



}

.keysCol_1Dark {
    /* color */
    color: hsl(20, 100%, 60%);
    /* text-shadow: 0px 3px 10px rgb(255, 255, 255); */

}
/* --   --  --  --  --  --  -- */
/* color classes dark_MODE --END */