/* color classes bright_MODE --START */
/* --   --  --  --  --  --  -- */
.baseCol_1_bg {

    /* color */
    background-color: hsl(180, 20%, 85%);
    
}

.baseCol_2_bg {
    /* color */
    background-color: hsl(180, 5%, 65%);

}

.secoCol_1_bg {

    /* color */
    background-color: hsl(200, 30%, 60%);

}

.keysCol_1_bg {

    /* color */
    /* background-color: hsl(228, 71%, 53%); */
    background-color: hsl(228, 100%, 30%);

}

.baseCol_1 {

    /* color */
    color: hsl(0, 0%, 5%);

}

.secoCol_1 {



}

.keysCol_1 {
    /* color */
    color: hsl(20, 100%, 60%);
    /* text-shadow: 0px 3px 10px rgb(255, 255, 255); */

}
/* --   --  --  --  --  --  -- */
/* color classes bright_MODE --END */