html, body {
    /* shape */
    width: 100%;
    height: 10000px;
    /* alignment */
    margin: 0;
    padding: 0; 

    padding-bottom: 10rem;
    
    
}

@font-face {
    font-family: defaultFontBold;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    
}

@font-face {
    font-family: defaultFont;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    
}

@font-face {
    font-family: defaultFontIndicator;
    src: url(/fonts/Caladea/Caladea-Regular.ttf);
    
}

.defTitle_font {
    font-family: defaultFontBold;
    font-weight: 800;
    
}

.defPara_font {
    font-family: defaultFont;
    font-weight: 200;

    
}

.defIndicator_font {
    font-family: defaultFontIndicator;
    font-weight: 400;
    font-size: 1rem;
}

.defFontSize0 {
    font-size: 2rem;
}

.defFontSize1 {
    font-size: 1rem;
}
.defFontSize2 {
    font-size: .5rem;
}

.defTitle_fontSize0 {
    font-size: 3rem;
}

@media screen and (max-width:550px) {
    .defTitle_font {
        font-family: defaultFont;
        font-weight: 800;
        font-size: 2rem;
    }
    
}