.simpleBoxes_column {
    /* shape */
    width: 90%;
    height: fit-content;
    
    /* position child */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;

}

.simpleBoxes_row {

    /* shape */
    width: 90%;
    height: fit-content;
    
    /* position child */
    display: flex;
    flex-direction: row;

    /* alignment */
    justify-content: space-evenly;
    align-items: center;
    
    overflow: hidden;
}

.simpleBoxes_column_text {
    /* shape */
    width: fit-content;
    height: fit-content;

    
    
    /* position child */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: left;
    align-items: start;

    padding: 1rem;
}

.simpleBoxes_row_text {
    /* shape */
    min-width: 1rem;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    
    
    /* position child */
    display: flex;
    flex-direction: row;

    /* alignment */
    justify-content: left;
    align-items: start;

    padding: 0rem;
    flex-wrap: wrap;
}

.simpleBoxes_padding {
    padding: 1rem;
}

.simpleBoxes_paddingRight {
    padding-right: 1rem;
}


.simpleBoxes_padding1 {
    padding: 0.1rem;
}



.simpleBoxes_padding_text {
    padding-right: .5rem;
}

.simpleBoxes_margin {
    margin: 1rem;
}

.simpleBoxes_margin1 {
    margin: .1rem;
}

.simpleBoxes_marginBottom {
    margin-top: 1rem;
}

.simpleBoxes_pageIndicator {
    /* shape */
    width: 100%;

    /* position fix */
    height: 0;
    padding-left: 0rem;

    /* above
    z-index: 0; */

}

.simpleBoxes_ulStyleRemove {
    list-style: none;
    
    margin: 0;

    min-width: 1rem;
}

.simpleBoxes_ulStyleDash {
    list-style-type: disc;
}




/* mobile integration */
@media screen and (max-width: 550px) {

    .simpleBoxes_column {
        /* shape */
        width: 90%;
        height: fit-content;
        
        /* position child */
        display: flex;
        flex-direction: column;
    
        /* alignment */
        justify-content: space-evenly;
        align-items: center;
    
    
    }
    
    .simpleBoxes_row {
    
        /* shape */
        width: 90%;
        height: fit-content;
        
        /* position child */
        display: flex;
        flex-direction: column;
    
        /* alignment */
        justify-content: space-evenly;
        align-items: center;
        
    
    }
    
    .simpleBoxes_column_text {
        /* shape */
        width: fit-content;
        height: fit-content;
    
        
        
        /* position child */
        display: flex;
        flex-direction: column;
    
        /* alignment */
        justify-content: left;
        align-items: start;
    
        padding: 1rem;
    }
    
    .simpleBoxes_row_text {
        /* shape */
        width: fit-content;
        height: fit-content;
    
        
        
        /* position child */
        display: flex;
        flex-direction: column;
    
        /* alignment */
        justify-content: left;
        align-items: start;
    
        padding: 1rem;
    }
    
    .simpleBoxes_padding {
        padding: 1rem;
    }
    
    .simpleBoxes_padding_text {
        padding-right: .5rem;
    }


}