body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

li {
    /* shape */
    width: 20rem;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}