/* button preset --START */
.buttonPreset {

    width: fit-content;
    height: 100%;


    border: none;

    /* animation duration */
    transition: .1s ease-in-out;

}

.buttonPreset:active {
    
    transform: scale(1.1);
}
/* button preset --END */

