header {
    width: 100%;
    height: 5rem;

    padding-top: 25rem;

    color: var(--baseBG);
    
    /* flex */
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    
}


@font-face {
    font-family: headerstickyElement;
    src: url(/fonts/cascadia-code/ttf/CascadiaCode.ttf);
    font-weight: 900;
}

/* elements with class sticks to specified height */
.headerstickyElement {
    padding-top: 0;

    position:sticky;

    

    /* when element hits 4rem from top it sticks */
    top:2.25rem;
    align-self: flex-end;

    

}

.headerstickyElement p {
    font-family: headerstickyElement;
}


#openmenuButton {
    /* shape */
    width: 5rem;
    height: 1.5rem;
    overflow: hidden;

    transform: translateY(-3em) translateX(0rem);
    

    /* color from colors.css */
    color: var(--headerbaseBG);
    background-color: var(--headertransparent);

    /* button styling */
    border: none;

    /* alignment */
    margin: 0;
    padding: 0;
    
    
        

}

/* openopenopenmenuButton animation */
#openmenuButton p:hover {
    transform: scale(1.2) translateY(-.15rem) translateX(-.35rem);
}

/* openmenuButton active */
#openmenuButton p:active {
    transform: scale(1.1) translateY(-.25rem) translateX(-.35rem);
}


/* fix for openmenuButton height & offset */
#openmenuButton p {
    
    
    

    /* position fix */
    position: relative;
    top: -1.2rem;
    right: 1rem;

    /* text properties */
    font-size: 4rem;
    line-height: 1rem;
    
    

    color: var(--headerbase);

    /* alignment */
    padding:0;
    margin: 0;

    /* animation */
    transition: .1s;
}

