#gameContainer {
    /* shape */
    width: 1280px; 
    height: 720px;
    
    /* self position */
    margin: 1rem;

    /* child position */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background-color: hsl(236, 69%, 55%);

    

}

.gapStandard {
    padding: .05rem;
    gap: 1rem;
}

header {
    /* shape */
    width: 100%;
    height: 5rem;

    /* child position */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: green;
    
}


#scoreContainer {
    /* shape */
    width: 35rem;
    height: 5rem;

    /* child position */
    display: flex;
    flex-direction: row;


    /* background-color: rgb(163, 163, 163); */

}



/* menu --START */
#headerMenuSelection {
    /* shape */
    width: 15rem;
    height: 5rem;

    /* child position */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .05rem;

    /* background-color: azure; */
}

/* menuButton */
#headerMenuSelection .menuButton {
    /* shape */
    width: 30%;
    height: fit-content;

    /* child position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: .1rem
    
}

.menuButtonImgSize {
    width: 100%;
    height: auto;
}


/* menu --END */

#displayMenu_EducationalFacilities {
    /* shape */
    width: 20rem;
    height: 44.95rem;

    border-top-left-radius: 1rem;
    

    /* position self */
    position:static;
    margin: 0;
    
    

    /* position child */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .1rem;
    /* background-color: bisque; */
    



}

button {
    border: none;
    background-color: none;
    

}

#html_buttonClick img {
    width: 10rem;
}

#displayMenu_EducationalFacilities li {
    height: fit-content;
    width: 20rem;
    display: flex;
    flex-direction: row;
    

    justify-content: center;
    align-items: center;
}


.gameArea1Parent {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    
}


.gameArea1 {
    /* shape */
    width: 60%;
    height: 100%;

    /* background-color: black; */
    
    /* position self */
    position: static;

    /* position child */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.gameArea1 button {
    width: fit-content;
    height: fit-content;

    
}

.gameArea2 {
    /* shape */
    width: 40%;
    height: 100%;

    /* background-color: black; */

    /* position self */
    position: static;

    /* position child */
    display: flex;
    flex-direction: row;

    justify-content: end;


    overflow: hidden scroll;

    

    
}