.chartParent {
    width: 40rem;
    height: 20rem;

    background-color: hsl(220, 25%, 15%);
}
#chart1 {
    display: flex;
    flex-direction: row;
    
    overflow: hidden;

}

#chart_baerekraft_mengdeAvfallUtregnet {
    width: inherit;
    height: inherit;
}

@media screen and (max-width:550px) {

    
    .chartParent {
        width: 20rem;
        height: 17.5rem;
    
        background-color: hsl(220, 25%, 15%);
    }
    #chart1 {
        display: flex;
        flex-direction: row;
        
        overflow: hidden;
    
    }
    
    #chart_baerekraft_mengdeAvfallUtregnet {
        width: inherit;
        height: inherit;

        

}