
.contentBox h1 {
    font-size: 2rem;
    color: hsl(186, 8%, 10%);

    margin: 0;
    padding: 0rem;
}

.contentBox p {
    font-size: 1.5em;
    color: hsl(208, 30%, 10%);

    margin: 0;
}



.contentBox h2 {
    color: hsl(208, 10%, 10%);
    
}

.contentBox {
    /* shape */
    width: fit-content;
    height: fit-content;
    


    /* position */


    /* position child */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: center;
    align-items: left;

    margin: 2em;
    padding: 1em;

    z-index: 0;

    /* background-color: red; */
}


/* contentBox child */
.boxRow {
    /* shape */
    width: 100%;
    height: 100%;

    /* position child */
    display: flex;
    flex-direction: row;

    /* alignment */
    justify-content: space-between;
}

.boxColumn {
    /* shape */
    width: 100%;
    height: 100%;
    
    /* position child */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: space-between;
    

    
    
}

/* items --START */
.item {
    /* shape */
    width: fit-content;
    height: fit-content;

    /* alignment */
    margin: 1em;
    padding: 1em;


  
}

.itemImg {
    /* shape */
    width: 30em;
    height: auto;

    /* alignment */
    margin: 0em;
}

.itemSpacer {
    margin: 1em;
}

/* seperates one section from another */
.itemDivider {
    background-color: hsl(208, 100%, 97%, 40%);

    
}

.contentBox button {
    
    /* shape */
    width: fit-content;
    height: fit-content;


    

    /* alignment */
    margin: 1em;

    /* left right alignment */
    margin-left: auto;
    margin-right: auto;
    



    
}

.contentBox a {
    margin: auto;
}

.border {
    border: solid;
    border-width: .2em;
    border-color: hsl(189, 8%, 30%);
}


/* ---  --- */
    /* ---  --- */
/* boxInfoList properties --START */


/* boxInfoList --START */
.boxInfoList {
    /* shape */
    width: fit-content;
    height: fit-content;


    /* style */

    /* position child */
    display: flex;
    flex-direction: row;
    


    /* alignment */
    justify-content: space-between;
    margin: 0;
    padding: 0;

}
/* boxInfoList --END */


/* boxInfoList list item properties --START */
.boxInfoList li {
    
    /* shape */
    
    width: 30em;
    height: fit-content;


    /* position child */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

    /* alignment */
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 1em;
}

.boxInfoList h1, p{
    padding: .2em;
    
}

.BoxInfoList .item {
    
    /* shape */
    width: fit-content;
    

    
   


    /* alignment */
    padding: 1em;
    
    
    

}
/* boxInfoList list item --END */


/* boxInfoList --END */
    /* ---  --- */
/* ---  --- */



/* ---  --- */
    /* ---  --- */
/* mobile content --START */
@media screen and (max-width: 1000px) {
    
    .contentBox h1 {
        font-size: 2rem;
        color: hsl(186, 8%, 10%);

        margin: 0rem;
        padding: 0rem;
    }

    .contentBox h2 {
        color: hsl(208, 10%, 10%);
        font-size: 2em;   
    }

    .contentBox p {
        font-size: 1.5em;
    }


    .contentBox {
        /* shape */
        width: fit-content;
        height: fit-content;
        


        /* position */


        /* position child */
        display: flex;
        flex-direction: column;

        /* alignment */
        justify-content: center;
        align-items: left;

        margin: 1em;
        padding: 1em;

        z-index: 0;

        /* background-color: red; */ 
    }


    /* contentBox child */
    .boxRow {
        /* shape */
        width: 100%;
        height: 100%;

        /* position child */
        display: flex;
        flex-direction: column;

        /* alignment */
        justify-content: space-between;
    }

    .boxColumn {
        /* shape */
        width: 100%;
        height: 100%;
        
        /* position child */
        display: flex;
        flex-direction: column;

        /* alignment */
        justify-content: space-between;

        
        
    }

    .item {
        /* shape */
        width: fit-content;
        height: fit-content;

        /* alinment */
        margin: 0em;
        margin-top: 1em;

    }

    .itemImg {
        /* shape */
        width: 15em;

        /* alignment */
        margin: 1em;
    }

    .itemSpacer {
        /* alignment */
        margin: 1em;    
    }

    /* ---  --- */
        /* ---  --- */
    /* boxInfoList properties --START */


    /* boxInfoList --START */
    .boxInfoList {
        /* shape */
        width: 5em;
        height: fit-content;


        /* style */

        /* position child */
        display: flex;
        flex-direction: column;
        


        /* alignment */
        justify-content: space-between;
        margin: 0;
        padding: 0;

    }
    /* boxInfoList --END */


    /* boxInfoList list item properties --START */
    .boxInfoList li {
        
        /* shape */
        
        width: fit-content;
        height: fit-content;


        /* position child */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        

        /* alignment */
        justify-content: space-between;
        align-items: center;

        margin: 0;
        padding: .1em;
    }

    .boxInfoList h1, p{
        padding: .2em;
        
    }

    .BoxInfoList .item {
        
        /* shape */
        width: fit-content;
        

        
    


        /* alignment */
        padding: 1em;
        
        
        

    }
    /* boxInfoList list item --END */


    /* boxInfoList --END */
        /* ---  --- */
    /* ---  --- */


}
/* mobile content --END */
    /* ---  --- */
/* --- --- */