.infoList {
    /* shape */
    width: fit-content;
    height: fit-content;


    /* style */

    /* position child */
    display: flex;
    flex-direction: row;
    


    /* alignment */
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.infoList li {
    
    /* shape */
    
    width: 30em;
    height: fit-content;


    /* position child */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

    /* alignment */
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 1em;
}

.infoList h1, p{
    padding: .2em;
    
}

.infoList .item {
    
    /* shape */
    width: fit-content;
    

    
   


    /* alignment */
    padding: 1em;
    
    
    

}