body, html {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 0;

    background-color: hsl(186, 18%, 50%);
}

main{
    width: fit-content;
    height: fit-content;

    padding-top: 0em;
}

/* fonts */
@import url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);

/* font faces */
@font-face {
    font-family: RokkittBold;
    src: url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
    font-weight: 700;
}

/* font selection */
h1 {
    font-family: RokkittBold;
}

.universalBoxShadow {
    box-shadow: 0em 0em 5em .25em hsl(186, 5%, 10%, .25);
}

.mastheadTop {
    width: 100%;
    height: 10em;

    /* position */
    display: flex;
    flex-direction: row;
    
    /* alignment */
    justify-content: center;
    align-items: center;

    position: sticky;
    top: -20em;
    padding-top: 20em;

    background-color: hsl(186, 58%, 90%);

    
}

.mastheadTop h1 {
    
    font-size: 5rem;

    color: hsl(186, 8%, 30%);
}

ul {
    
    /* shape */
    height: fit-content;
    width: fit-content;
    
    /* position */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 1em;
    margin: 0;

    background-color: hsl(186, 40%, 74%);

    

}

li, a{
    /* removes unwanted standards from li / a */
    list-style: none;
    text-decoration-line: none;
    color: hsl(186, 8%, 30%);
    
    /* alignment */
    text-align: left;
    
}

ul li {
    /* shape */
    width: 100%;
    height: 100%;
    
    /* position */
    padding: .2em;
    padding-left: 1em;
    
}

/* indicates unselected items */
.deactivatedPageIndicator {
    background-color: hsl(186, 40%, 74%);
}

/* indicates selected items */
.activePageIndicator {
    background-color: hsl(186, 30%, 64%);
}

.block {
    width: 100px;
    height: 500px;
    border-width: 10px;
    border-color: black;
    border-style: solid;

    background-color: beige;
}