/* masthead --START */
.masthead h1 {
    /* size */
    font-size: 5rem;
    
    /* style */
    color: hsl(186, 8%, 30%);
}

.masthead {
    /* shape */
    width: 100%;
    height: 10em;

    /* style */    
    background-color: hsl(186, 58%, 90%);

    /* position */
    display: flex;
    flex-direction: row;
    
    /* alignment */
    justify-content: center;
    align-items: center;


    /* sticky activation */
    position: sticky;
    top: -10em;
    padding-top: 10em;

    /* z axis position */
    z-index: 1;
}
/* masthead --END */


/* link back to main site --START */
.linkToOG {
    /* position parent */
    position: absolute;
    top: 0;
    left: 0;

}


.linkToOG p{

    /* size */
    font-size: 2rem;

    /* style */
    color: hsl(186, 8%, 30%);

    /* position */
    top: 0em;

    margin: .5em;
    padding: 0em;

    

}
/* link back to main site --END */


@media screen and (max-width: 1200px) {
    
    
    /* masthead --START */
    .masthead h1 {
        /* size */
        font-size: 2rem;
        
        /* style */
        color: hsl(186, 8%, 30%);
    }

    .masthead {
        /* shape */
        width: 100%;
        height: 10em;

        /* style */    
        background-color: hsl(186, 58%, 90%);

        /* position */
        display: flex;
        flex-direction: row;
        
        /* alignment */
        justify-content: center;
        align-items: center;


        /* sticky activation */
        position: sticky;
        top: -5em;
        padding-top: 2em;

        /* z axis position */
        z-index: 1;
    }
    /* masthead --END */


    /* link back to main site --START */
    .linkToOG {
        /* position parent */
        position: absolute;
        top: 0;
        left: 0;

    }


    .linkToOG p{

        /* size */
        font-size: 1rem;
    
        /* style */
        color: hsl(186, 8%, 30%);
    
        /* position */
        top: 0em;
    
        margin: .5em;
        padding: 0em;
    
        
    
    }
    /* link back to main site --END */

}
