body, html {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 0;

    background-color: hsl(186, 18%, 50%);
}

main{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;

    padding-top: 0em;
}


nav {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;

    
}




/* text properties --START */



/* fonts */
@import url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);

/* font faces */
@font-face {
    font-family: DefaultBold;
    src: url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: DefaultNormal;
    src: url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-weight: 500;
}

/* font selection */
p {
    font-family: DefaultNormal;
    font-size: 1em;
}


h1 {
    font-family: DefaultBold;
    font-size: 2em;
}

h2 {
    font-family: DefaultBold;
    color: hsl(186, 8%, 20%);

    font-size: 3em;
}

h3 {
    font-family: DefaultBold;
    color: black;

    font-size: 2em;
    margin: 0;
}


.item a {
    color: black;
}













/* text properties --END */





.universalBoxShadow {
    box-shadow: 0em 0em 5em .25em hsl(186, 5%, 10%, .25);
}

.backdropFilter {
    backdrop-filter: blur(4px);
    background-color: hsla(0, 0%, 100%, 0.054);
}








.block {
    width: 100px;
    height: 500px;
    border-width: 10px;
    border-color: black;
    border-style: solid;

    background-color: beige;
}



.backgroundImageActivities {
    background-image: url(/Maui-Hawaii/images/jeremy-bishop-7g5juwG5jrQ-unsplash.jpg);   

}

.backgroundImageIndex {
    background-image: url(/Maui-Hawaii/images/napili-bay-maui-hawaii-maui.jpg);   

}

/* mobile content --START */
@media screen and (max-width: 1200px) {


    body, html {
        /* shape */
        width: 100%;
        height: fit-content;
    
        /* style */
        background-color: hsl(186, 18%, 50%);
        
        
        /* alignment */
        margin: 0;
        padding: 0;
    
        
    }
    
    main{
        /* shape */
        width: fit-content;
        height: fit-content;
    
        /* position child */
        display: flex;
        flex-direction: column;
    
        /* alignment */
        margin: 0;
        padding: 0;
    }
    
    
    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
    
        
    }
    
    
    
    
    /* text properties --START */
    
    
    
    
 
    /* fonts */
@import url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);

/* font faces */
@font-face {
    font-family: DefaultBold;
    src: url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: DefaultNormal;
    src: url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-weight: 500;
}

/* font selection */
p {
    font-family: DefaultNormal;
    font-size: 1em;
}

h1 {
    font-family: DefaultBold;
    font-size: 2em;
}

h2 {
    font-family: DefaultBold;
    color: hsl(186, 8%, 20%);

    font-size: 4em;
}


.item a {
    color: black;
}
    
    
    /* text properties --END */


}