body, html {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 0;

    background-color: hsl(186, 18%, 50%);
}

main{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;

    padding-top: 0em;
}

aside{
    position: sticky;
    width: fit-content;
    height: 100%;
}





/* text properties --START */



/* fonts */
@import url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);

/* font faces */
@font-face {
    font-family: RokkittBold;
    src: url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
    font-weight: 700;
}

/* font selection */
h1, p{
    font-family: RokkittBold;
}

h2 {
    font-family: RokkittBold;
    color: hsl(186, 8%, 20%);

    font-size: 4em;
}


.contentBox p {
    font-size: 2em;
    color: hsl(186, 8%, 10%);
}


.mastheadTop h1 {
    
    font-size: 5rem;

    color: hsl(186, 8%, 30%);
}



li, a, button{
    /* removes unwanted standards from li / a */
    list-style: none;
    text-decoration-line: none;
    color: hsl(186, 8%, 30%);
    
    /* alignment */
    text-align: left;
    
    /* style */
    

}


footer h1, p, a{
    color: hsl(186, 58%, 90%);
    font-size: 1em;
}



/* text properties --END */





.universalBoxShadow {
    box-shadow: 0em 0em 5em .25em hsl(186, 5%, 10%, .25);
}


.mastheadTop {
    width: 100%;
    height: 10em;

    /* position */
    display: flex;
    flex-direction: row;
    
    /* alignment */
    justify-content: center;
    align-items: center;


    /* sticky activation */
    position: sticky;
    top: -20em;
    padding-top: 20em;

    background-color: hsl(186, 58%, 90%);

    z-index: 1;
}



/* unordered list properties --START */
ul {
    
    /* shape */
    height: fit-content;
    width: fit-content;
    
    /* position */
    position: sticky;
    /* when sticky activates */
    top: 10em;

    /* position child */
    display: flex;
    flex-direction: column;

    /* alignment */
    justify-content: center;
    align-items: center;

    padding: 1em;
    margin: 0;

    background-color: hsl(186, 40%, 74%);

    

}





ul li {
    /* shape */
    width: 100%;
    height: 100%;
    
    /* position */
    padding: .2em;
    padding-left: 1em;
    
    
}


.button {
    /* shape */
    width: fit-content;
    height: fit-content;

    /* position */
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;



    /* Style */
    border: none;
    background-color:  hsl(186, 40%, 74%);
    text-align: left;
    text-decoration: none;
    
}

/* indicates unselected items */
.deactivatedPageIndicator {
    /* style */
    background-color: hsl(186, 40%, 74%);
}

/* indicates selected items */
.activePageIndicator {
    /* style */
    background-color: hsl(186, 20%, 54%);
}
/* unordered list properties --END */


.block {
    width: 100px;
    height: 500px;
    border-width: 10px;
    border-color: black;
    border-style: solid;

    background-color: beige;
}


footer {
    /* shape */
    width: 100%;
    height: 2em;

    /* position */
    bottom: 0px;

    /* child position */
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    /* style */
    background-color: hsl(186, 15%, 34%);
}




/* activities --Start */

.contentBox {
    /* shape */
    width: 100%;

    height: fit-content;
    


    /* position */


    /* position child */
    display: flex;
    flex-direction: column;

    margin: 2em;

    z-index: 0;
}

.backgroundImagePosition {
    position: absolute;
    width: 100%;

    z-index: 0;
}