body, html {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 0;

    background-color: hsl(186, 18%, 50%);
}

main{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;

    padding-top: 0em;
}


nav {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}




/* text properties --START */



/* fonts */
@import url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);

/* font faces */
@font-face {
    font-family: RokkittBold;
    src: url(/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf);
    font-weight: 700;
}

/* font selection */
h1, p{
    font-family: RokkittBold;
}

h2 {
    font-family: RokkittBold;
    color: hsl(186, 8%, 20%);

    font-size: 4em;
}















/* text properties --END */





.universalBoxShadow {
    box-shadow: 0em 0em 5em .25em hsl(186, 5%, 10%, .25);
}








.block {
    width: 100px;
    height: 500px;
    border-width: 10px;
    border-color: black;
    border-style: solid;

    background-color: beige;
}



.backgroundImagePosition {
    position: absolute;
    width: 100%;

    z-index: 0;
}