html, body {
    width: 100%;
    height: fit-content;
    background-color: hsl(0, 0%, 0%);

    margin: 0;
    padding: 0;

}



@font-face {
    font-family: defaultFontNormal;
    src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);

}





h2, h3, h4, h5, h6, p, a {
    color: hsl(37, 34%, 60%);
    font-family: defaultFontNormal;
}
.previewBox h1 { font-family: defaultNormal; font-size: 1.5em; margin-left: .5em;}
.previewBox h2 { margin: .5em;}


@media screen and (max-width: 1050px) { 
    .previewBox h1 { font-family: defaultNormal; font-size: .5em; margin-left: .5em;}
    .previewBox h2 { margin: .2em; font-family: defaultNormal; font-size: .8; font-weight: bold;}
}