/* body __START */
body {
    width: 100%;
    height: 10000px;
    margin: 0;

    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* body __END  */