:root {
    --headerbase: hsl(200, 63%, 85%);

    --baseBG: hsl(200, 10%, 25%);
    --baseBG2: hsl(200, 10%, 10%);
    
    --secondaryColor: hsl(200, 30%, 60%);

    --keyColor: hsl(20, 83%, 65%);


    --headertransparent: hsl(0, 0%, 0%, 0);
}

